body {
    background-size: 100vw 100vh;
    background-image: url('./restaraunt.jpg');
}

header {
    top: 0;
    height: 5vh;
    display: flex;
    justify-content: center;
    position: absolute;
    left: 0;
    width: 100%;
    background-color: chocolate;
    color: white;
    align-items: center;
}

footer {
    bottom: 0;
    height: 8vh;
    display: flex;
    justify-content: space-around;
    position: fixed;
    width: 100%;
    background-color: chocolate;
    color: white;
    left: 0;
    align-items: self-end;
    border-top: 4px double coral;
}

button {
    background-color: red;
    color: yellow;
    font-family: SovietFont3;
}

h1 {
    background: red;
    color: yellow;
    border: 5px solid black;
    border-radius: 20%;
    width: 60vw;
    justify-content: center;
    display: flex;
    padding: 1em;
    font-family: SovietFont;
}

#main {
    margin-left: 25%;
    margin-right: 25%;
    height: 40vh;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 4vw;
}

p {
    background: red;
    color: yellow;
    border: 3px solid black;
    border-radius: 15%;
    width: 40%;
    align-self: center;
    justify-self: center;
    padding-top: 15vh;
    padding-bottom: 15vh;
    line-break: strict;
    text-align: center;
    font-family: SovietFont3;
    font-size: smaller;
}

p#about {
    margin-right: 20px;
}

input + label {             /* box with rounded corner */
    border: 1px solid #999;
    background: #EEE;
    padding: 4px 12px;
    border-radius: 4px 4px 0 0;
    position: relative;
    top: 1px;
  }
  input:checked + label {     /* white background for selected tab */
    background: #FFF;
    border-bottom: 1px solid transparent;
  }
  input ~ .tab {          /* grey line between tab and contents */
    border-top: 1px solid #999;
    padding: 12px;
  }

input { display: none; }                /* hide radio buttons */
input + label { display: inline-block } /* show labels in line */
input ~ .tab { display: none }

nav {
    display: flex;
}

nav {
    color: black;
}

.course {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    background: red;
    color: yellow;
    padding-bottom: 2%;
    border-radius: 2%;
    font-family: SovietFont;
    font-size: medium;
    padding-top: 5px;
    margin-bottom: 20px;
}

#managers {
    display: flex;
    justify-content: center;
    flex-direction: row;
    background: red;
    color: yellow;
    padding-bottom: 2%;
    border-radius: 10%;
    font-family: SovietFont2;
    font-size: medium;
    padding-top: 5px;
    margin-bottom: 20px;
}

#career {
    display: flex;
    justify-content: center;
    flex-direction: row;
    background: red;
    color: yellow;
    padding-bottom: 2%;
    border-radius: 10%;
    font-family: SovietFont2;
    font-size: medium;
    padding-top: 5px;
    margin-bottom: 20px;
    padding: 5vh;
}

.manager {
    margin: 25px;
}


#drinks {
    margin-bottom: 100px;
}

.dish{
    justify-content: center;
    display: flex;
}

.dishPic{
    border: 1px solid black;
}

span {
    justify-content: center;
    display: flex;
    width: 100%;
    margin-bottom: 20px;
    color: yellow;
    font-family: SovietFont;
    font-size: 1.8rem;
    flex-wrap: wrap;
}

@font-face {
    font-family: 'SovietFont'; /*a name to be used later*/
    src: url('propaganda.ttf');
}

@font-face{
    font-family: 'SovietFont2';
    src: url('Red\ October.ttf');
}

@font-face{
    font-family: 'SovietFont3';
    src: url('Red\ October-Light.ttf');
}

